# ========== 通用 C/C++ 编译产物 ==========
*.o
*.ko
*.obj
*.elf
*.ilk
*.map
*.exp
*.gch
*.pch
*.lib
*.a
*.la
*.lo
*.dll
*.so
*.so.*
*.dylib
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.su
*.idb
*.pdb
*.mod*
*.cmd
*.dwo
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# ========== Keil MDK-ARM 专有 ==========
Objects/
Listings/
build/
DebugConfig/
*.crf
*.dep
*.axf
*.bin
*.iex
*.uvguix.*
*.uvoptx

# ========== IDE / 编辑器个人配置 ==========
.vscode/
.eide/

# ========== CMSIS Pack (可重新下载) ==========
.pack/
.cmsis/
RTE_Components.h

# ========== 系统文件 ==========
.DS_Store
Thumbs.db
